*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container{
    padding: 2px;
    width: 400px;
    margin: 0 auto;
    border: 1px #000 solid;
}


.Block{
    display: block;
    
}

.item{
    margin: 3px;
    background: purple  ;
    color: #fff;
    flex: 1; 
}



.Flex{
    display: flex;
}

.FlexWrap{
    flex-wrap: wrap;
}

.row{
    flex-direction: row;
}

.row-reverse{
    flex-direction: row-reverse;
}

.column{
    flex-direction: column;
}

.column-reverse{
    flex-direction: column-reverse;
}
