/* Padronização */

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.info{
    width: 500px;
    margin: 0 auto;
    
}

.container{
    padding: 2px;
    width: 400px;
    margin: 0 auto;
    border: 1px #000 solid;
}

.item{
    margin: 3px;
    background: purple  ;
    color: #fff;
    flex: 1; 
}

/* DisplayBlock */
.Block{
    display: block;
}

/* DisplayFlex */

.Flex{
    display: flex;
}

/* Flex Direction  */

.row{
    flex-direction: row;
}

.row-reverse{
    flex-direction: row-reverse;
}

.column{
    flex-direction: column;
}

.column-reverse{
    flex-direction: column-reverse;
}

/* FlexWrap */

.FlexWrap{
    flex-wrap: wrap;
}

.FlexWrapNowrap{
    flex-wrap: nowrap;
}

.FlexWrapReverse{
    flex-wrap: wrap-reverse;
}


